xterm*loginShell: true
xterm*foreground: #a0a0a0
xterm*background: #202020
xterm*faceName: Meslo-14
xterm*precompose: false
xterm*eightBitInput: false
xterm*eightBitOutput: true
XTerm*SaveLines: 9000
Sxiv.background: #000000

