[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=MailReader
X-XFCE-CommandsWithParameter=gio open https://gmail.com "%s"
Icon=gio
Name=gio
X-XFCE-Commands=gio open https://gmail.com

