#arc-search{
width: 400px;
}

.arc-menu-status-text{
color:rgba(211, 218, 227, 1);
font-size:11pt;
}

.search-statustext{
font-size:11pt;
}

.left-scroll-area{
width:400px;
}

.left-scroll-area-small{
width:315px;
}

.arc-empty-dash-drop-target{
width: 400px; 
height: 2px; 
background-color:rgb(41,50,55); 
padding: 0 0; 
margin:0;
}

.left-box{
width:400px;
}

.vert-sep{
width:11px;
}

.default-search-entry{
max-width: 17.667em;
}

.arc-search-entry{
max-width: 17.667em;
font-size:11pt;
border-color:rgb(41,50,55);
border-width: 1px;
color:rgba(211, 218, 227, 1);
background-color:rgba(28,28,28,0.90604);
}

.arc-search-entry:focus{
border-color:rgb(246,97,81);
border-width: 1px;
box-shadow: inset 0 0 0 1px rgba(247,119,105,1);
}

.arc-search-entry StLabel.hint-text{
color: rgba(211,218,227,0.7);
}

.arc-menu-panel-menu:active{
}

#arc-menu-plasma-button{
border-bottom-width: 2px;;
border-color: transparent;
}

#arc-menu-plasma-button:active-item, .arc-menu-plasma-button:active{
background-color: rgba(245, 245, 245, .05);
border-bottom-width: 2px;
border-color: rgb(61, 174, 235);
}

StScrollView .small-vfade{
-st-vfade-offset: 44px;
}

.arc-menu-eject-button{
-st-icon-style: symbolic;
background-color: transparent;
min-width: 16px;
min-height: 0px;
border-radius: 6px;
padding: 0px 13px;
}

.arc-menu-eject-button:hover{
background-color: rgba(186, 196,201, 0.1);
}

.arc-menu-button{
-st-icon-style: symbolic;
min-height: 0px;
min-width: 16px;
border-radius: 26px;
padding: 13px;
}

.arc-menu-action{
margin: 1px;
background-color: transparent;
box-shadow: none;
color:rgba(211, 218, 227, 1);
border-width: 1px;
border-color: transparent;
}

.arc-menu-action:hover, .arc-menu-action:focus{
color:rgba(255,255,255,1);
background-color:rgb(246,97,81);
border-width: 1px;
box-shadow: 0 1px 1px 0 rgba(15,15,15,0.91);
border-color:rgba(15,15,15,0.91);
}

.arc-menu-action:active{
box-shadow: none;
color:rgba(255,255,255,1);
background-color:rgba(238,34,12,1);
border-width: 1px;
border-color:rgba(2,2,2,0.91);
}

.arc-menu-menu-item-indicator{
color: rgb(41, 165, 249);
}

.arc-menu-menu-item-text-indicator{
background-color: rgba(196, 196, 196, 0.3);
}

.tooltip-menu-item{
box-shadow:0 0 0 1px rgba(53,53,53,0.91);
font-size:11pt;
padding: 2px 5px;
min-height: 0px;
color:rgba(211, 218, 227, 1);
background-color:rgba(40,40,40,0.91);
max-width:550px;
}

.arc-menu{
-boxpointer-gap: -1px;
min-width: 15em;
color: #D3DAE3;
border-image: none;
box-shadow: none;
font-size:11pt;
}

.arc-menu .popup-sub-menu{
padding-bottom: 1px;
background-color: rgba(38,38,38,0.91);
}

.arc-menu .popup-menu-content{
padding: 1em 0em;
}

.arc-menu .popup-menu-item{
spacing: 12px; 
border: 0;
color:rgba(211, 218, 227, 1);
}

.arc-menu .popup-menu-item:ltr{
padding: .4em 1.75em .4em 0em;
}

.arc-menu .popup-menu-item:rtl
{
padding: .4em 0em .4em 1.75em;
}

.arc-menu .popup-menu-item:checked{
background-color:rgba(38,38,38,0.91);
box-shadow: 0;
font-weight: bold;

border-color: rgba(66,66,66,0.91);
border-top-width:1px;
}

.arc-menu .popup-menu-item.selected, .arc-menu .popup-menu-item:active{
background-color:rgb(246,97,81); 
color: rgba(255,255,255,1);
}

.arc-menu .popup-menu-item:disabled{
color: rgba(238, 238, 236, 0.5);
}

.arc-menu-boxpointer{ 
-arrow-border-radius:20px;
-arrow-background-color:rgba(28,28,28,0.90604);
-arrow-border-color:rgba(10,10,10,0.657718);
-arrow-border-width:1px;
-arrow-base:0px;
-arrow-rise:0px;
}

.arc-menu .popup-menu-content{
margin: 0;
background-color: transparent;
border-radius: 0px;
box-shadow: 0;
}

.arc-menu-sep{
height: 1px;
margin: 5px 20px;
background-color: transparent;
border-bottom-style: solid;
border-color:rgb(41,50,55);
border-bottom-width: 1px;
}

.menu-user-avatar{
background-size: contain;
border: none;
border-radius: 0px;
}

.arc-right-click{
max-width:350px;
min-width: 15em;
color: #D3DAE3;
border-image: none;
font-size:11pt;
margin:0px;
padding:0px;box-shadow: none;
spacing:0px;
}

.arc-right-click .popup-sub-menu{
padding-bottom: 1px;
background-color: #3a393b;
box-shadow: inset 0 -1px 0px #323233;
}

.arc-right-click .popup-menu-content{
padding: 3px 0px;
}

.arc-right-click .popup-menu-item{
spacing: 12px; 
border: 0;
color:rgba(211, 218, 227, 1);
}

.arc-right-click .popup-menu-item:ltr{
padding: .4em 1.75em .4em 0em;
}

.arc-right-click .popup-menu-item:rtl{
padding: .4em 0em .4em 1.75em;
}

.arc-right-click .popup-menu-item:checked{
background-color: #3a393b;
box-shadow: inset 0 1px 0px #323233;
font-weight: bold;
}

.arc-right-click .popup-menu-item.selected, .arc-right-click .popup-menu-item:active{
background-color:rgba(247,119,105,1); 
color: rgba(255,255,255,1);
}

.arc-right-click .popup-menu-item:disabled{
color: rgba(238, 238, 236, 0.5);
}

.arc-right-click .popup-menu-item:insensitive{
color:rgba(164,179,197,1);
}

.arc-right-click-boxpointer{ 
-arrow-border-radius:20px;
-arrow-background-color:rgba(40,40,40,0.91);
-arrow-border-color:rgba(53,53,53,0.91);
-arrow-border-width:1px;
-arrow-base:0px;
-arrow-rise:0px;
}

.arc-right-click .popup-menu-content{
margin: 0;
background-color: transparent;
border-radius: 0px;
box-shadow: 0;
}

.app-right-click-sep {
height: 1px;
margin: 2px 35px 3px 35px;
background-color: transparent;
border-bottom-style: solid;
border-color:rgb(41,50,55);
border-bottom-width: 1px;
}
